<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		 http://www.springframework.org/schema/aop 
		 http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		 http://www.springframework.org/schema/tx
	 	 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		 http://www.springframework.org/schema/context
		 http://www.springframework.org/schema/context/spring-context-3.0.xsd"
		 >

	<!-- Service -->
	
	<bean id="baseService" class="com.sanrenxing.services.BaseService">
		<property name="userAttentionDao" ref="userAttentionDao" />
		<property name="userDao" ref="userDao" />
		<property name="backyardUserDao" ref="backyardUserDao" />
		<property name="backyardProductDao" ref="backyardProductDao" />
		<property name="backyardProductDetailDao" ref="backyardProductDetailDao" />
		<property name="activityDao" ref="activityDao" />
	</bean>
	
	<bean id="initializedService" class="com.sanrenxing.services.InitializedService" >
		<property name="pushNotificationJobDetail" ref="initPushNotificationJobDetailFactory" />
	</bean>
	<bean id="pushNotificationService" class="com.sanrenxing.services.PushNotificationService" parent="baseService" >
		<property name="pushNotificationJobDetail" ref="pushNotificationJobDetailFactory" />
	</bean>
	
	<bean id="initService" class="com.sanrenxing.services.InitService" parent="baseService" />
	
	<bean id="queryPushTimeService" class="com.sanrenxing.services.QueryPushTimeService" parent="baseService" />
	
	<bean id="queryPriceService" class="com.sanrenxing.services.QueryPriceService" parent="baseService" />
	<bean id="appService" class="com.sanrenxing.services.AppService" parent="baseService"/>
	<bean id="backyardService" class="com.sanrenxing.services.BackyardService" parent="baseService"/>
	
	
	
	<!--定义定时执行testQuarz 这个bean中的sayHello()方法-->  
	<bean id="queryPriceQuarz"	class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">  
		<property name="targetObject">
			<ref bean="queryPriceService" />
		</property>
		<property name="targetMethod">
			<value>queryPrice</value>
		</property>
	</bean>
	
	<!--触发器的bean的设置，在这里我们设置了我们要触发的jobDetail是哪个。
	这里我们定义了要触发的jobDetail是queryPriceQuarz，即触发器去触发哪个bean..
	并且我们还定义了触发的时间:每天 每小时的0分和30分执行-->  
	<bean id="timerQueryPriceTrigger"  
		class="org.springframework.scheduling.quartz.CronTriggerBean">  
		<property name="jobDetail">  
			<ref bean="queryPriceQuarz" />  
		</property>  
		<property name="cronExpression">  
			<!-- 关键在配置此表达式 -->  
			<value>0 0/15 * * * ?</value>  
		</property>  
	</bean>
	
	<!--管理触发器的总设置,管理我们的触发器列表,可以在bean的list中放置多个触发器。   
	-->  
	<bean autowire="no"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">  
			<list>
				<ref local="timerQueryPriceTrigger" />  
			</list>
		</property>
	</bean>
	
	<!--  -->
		<!--定时器任务配置（开始）-->	 
	<!--配置JOB-->
<!-- 	<bean id="initJobDetail" -->
<!-- 		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> -->
<!-- 		<property name="targetObject" ref="initService" /> -->
<!-- 		<property name="targetMethod" value="execute" /> -->
<!-- 		<property name="arguments" /> -->
<!-- 	</bean> -->
	
	<bean id="initPushNotificationJobDetailFactory" 
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="pushNotificationService" />
		<property name="targetMethod" value="queryEarlyToPush" />
<!-- 		<property name="concurrent" value="false">   -->
<!-- 		<property name="jobClass" value="com.sanrenxing.services.QueryPushTimeService" /> -->
	</bean>
	<bean id="pushNotificationJobDetailFactory" 
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="pushNotificationService" />
		<property name="targetMethod" value="trigerToPush" />
<!-- 		<property name="concurrent" value="false">   -->
<!-- 		<property name="jobClass" value="com.sanrenxing.services.QueryPushTimeService" /> -->
	</bean>
	
<!-- 	<bean name="initJobDetail" class="org.springframework.scheduling.quartz.JobDetailFactoryBean"> -->
<!--		 <property name="jobClass" value="com.sanrenxing.services.InitJob" /> -->
<!--	 </bean> -->
	<!--配置Trigger-->
<!-- 	<bean id="initTrigger"   -->
<!-- 		class="org.springframework.scheduling.quartz.SimpleTriggerBean">   -->
<!-- 		<property name="jobDetail" ref="initJobDetail" />   -->
<!-- 		<property name="startDelay" value="50000" /> -->
<!-- 		<property name="repeatInterval" value="0" /> -->
<!-- 		<property name="repeatCount" value="0" /> -->
<!-- 	</bean> -->
	<!--配置Scheduler-->
<!-- 	<bean id="schedulerFactory"   -->
<!-- 		class="org.springframework.scheduling.quartz.SchedulerFactoryBean" autowire="no">   -->
<!-- 		<property name="triggers">   -->
<!-- 			<list>   -->
<!-- 				<ref bean="initTrigger" />   -->
<!-- 			</list>   -->
<!-- 		</property>   -->
<!-- 		<property name="autoStartup" value="true"/> -->
<!-- 	</bean> -->
	
	<!--定时器任务配置（结束）-->
	
</beans>