<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanrenxing.dao.mybatis.BackyardUserMapper">
	<resultMap id="resultMap_backyard_user" type="com.sanrenxing.vos.BackyardUser" >
		<result property="userId"   column="user_id"  javaType="Integer"/>
		<result property="userEmail"   column="user_email"  javaType="String"/>
		<result property="userPass"   column="user_pass"  javaType="String"/>
	</resultMap>
	
	<insert id="insertBackyardUser" parameterType="com.sanrenxing.vos.BackyardUser">
	INSERT INTO `srx_tb`.`backyard_user`
	(`user_email`,
	`user_pass`)
	VALUES
	(
	#{userPass},
	#{userEmail}
	);
	</insert>
	
	<select id="selectUserByName" resultType="list" resultMap="resultMap_backyard_user" parameterType="String">
	SELECT
		`backyard_user`.`user_email`
	FROM `srx_tb`.`backyard_user`
	WHERE
		`backyard_user`.`user_email` = #{userEmail};
	</select>
	
</mapper>