<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sanrenxing.dao.mybatis.UserMapper">
	<resultMap id="resultMap_user" type="com.sanrenxing.vos.User" >
		<result property="userDeviceId"   column="user_device_id"  javaType="String"/>
	</resultMap>
	
	<insert id="insertUser" parameterType="com.sanrenxing.vos.User">
		INSERT INTO `srx_tb`.`user` (`user_device_id`) 
		SELECT #{userDeviceId} FROM DUAL
		WHERE NOT EXISTS(SELECT (`user_device_id`) FROM `srx_tb`.`user` 
		WHERE (`user_device_id`)=(#{userDeviceId}))
<!-- 		INSERT IGNORE INTO `srx_tb`.`user` (`user_device_id`)  -->
<!-- 		VALUES (#{userDeviceId}); -->
	</insert>
	
</mapper>